/*
Theme Name: Houzez
Theme URI: http://themeforest.net/user/favethemes/
Author: Favethemes
Author URI: http://www.favethemes.com/
Description: Houzez is a premium WordPress theme for real estate agents where modern aesthetics are combined with tasteful simplicity, and where the ease of use is achieved without compromise in your ability to customise the design. Whether you are a real estate agent looking to build a website for your company or a web developer seeking a perfect WordPress theme for your next project, you are certain to appreciate the numerous features and benefits that our theme provides.
Version: 1.4.5
Tags: right-sidebar, left-sidebar, custom-colors, custom-menu, featured-images, post-formats, theme-options, translation-ready
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: houzez
*/
.gallery-caption {

}
.agent-detail-block .form-small img {
    width: auto;
}
#sidebar .widget.houzez-impress-idx-login-widget p,
#sidebar .widget.houzez-impress-idx-signup-widget p {
    margin-bottom: 10px;
}

label.error {
    display: none;
}
#myChart {
    height: 400px!important;
    width: 100%!important;
}
#plupload-container{
    overflow: hidden;
}
.membership-content .houzez_stripe_simple button,
.membership-content .houzez_stripe_membership button {
    display: none;
}
#email_messages label {
    display: block;
}
.invoiceModal .payment-details-product, .invoiceModal .payment-details-total, .invoiceModal .customer-details-name, .invoiceModal .customer-details-email, .invoiceModal .billing-address {
    padding: 15px 30px 15px 30px;
    border-bottom: 1px solid #e5e5e5;
}
.block-body .auther-info span {
    display: block;
}
.membership-content .free-membership-used {
    font-weight: 700;
}
#houzez-simple-map {
    height: 400px;
}
.panel-btn-close {
    cursor: pointer;
}
.advance-search-header #use_radius,
.advanced-search-mobile #use_radius,
.advanced-search-openclose #use_radius,
.houzez_hidden {
    display: none;
}
a.btn-primary:hover {
    color: #ffffff !important;
}
.advance-search-header .advance-btn-holder {
    border-right: none !important;
    border-left: none !important;
}
.property-similer .property-listing.grid-view .item-wrap:nth-child(2n+1) {
    clear: both;
}

/* yelp colors
-------------------------------------- */
.yelp-cat-icon {
    background-color: transparent;
    margin: -3px 6px 0 0;
}
.yelp-cat-icon .fa {
    padding: 6px;
    border-radius: 4px;
}
.yelp-cat-icon .fa-bicycle {
    background-color: #4cca1a;
}
.yelp-cat-icon .fa-picture-o {
    background-color: #c4ca2a;
}
.yelp-cat-icon .fa-car {
    background-color: #c00;
}
.yelp-cat-icon .fa-cutlery {
    background-color: #b78c0a;
}
.yelp-cat-icon .fa-university {
    background-color: #0963b7;
}
.yelp-cat-icon .fa-birthday-cake {
    background-color: #c71b6c;
}
.yelp-cat-icon .fa-money {
    background-color: #149764;
}
.yelp-cat-icon .fa-shopping-basket {
    background-color: #e49101;
}
.yelp-cat-icon .fa-medkit {
    background-color: #0abeaf;
}
.yelp-cat-icon .fa-wrench {
    background-color: #836666;
}
.yelp-cat-icon .fa-bed {
    background-color: #836550;
}
.yelp-cat-icon .fa-coffee {
    background-color: #577c83;
}
.yelp-cat-icon .fa-dot-circle-o {
    background-color: #0d9310;
}
.yelp-cat-icon .fa-television {
    background-color: #0e7c93;
}
.yelp-cat-icon .fa-glass {
    background-color: #931677;
}
.yelp-cat-icon .fa-paw {
    background-color: #938565;
}
.yelp-cat-icon .fa-suitcase {
    background-color: #489380;
}
.yelp-cat-icon .fa-graduation-cap {
    background-color: #706593;
}
.yelp-cat-icon .fa-building-o {
    background-color: #729377;
}
.yelp-cat-icon .fa-universal-access {
    background-color: #93818a;
}
.yelp-cat-icon .fa-cutlery {
    background-color: #938063;
}
.yelp-cat-icon .fa-shopping-bag {
    background-color: #937f0d;
}
.houzez-single-property-v2 .virtual-tour-block iframe {
    width: 100%;
}
/* PULSE */
@keyframes pulse {
    0% {transform: scale(1.1)}
    50% {transform: scale(0.8)}
    100% {transform: scale(1.1)}
}
.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
    animation: pulse 2s linear infinite;
}
.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
    animation: pulse 1s linear infinite;
}
.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
    animation: pulse 3s linear infinite;
}
