/*
Theme Name: Houzez Child
Theme URI: http://www.favethemes.com/
Author: Favethemes
Author URI: http://www.favethemes.com/
Description: Houzez is a premium WordPress theme for real estate agents where modern aesthetics are combined with tasteful simplicity, and where the ease of use is achieved without compromise in your ability to customise the design. Whether you are a real estate agent looking to build a website for your company or a web developer seeking a perfect WordPress theme for your next project, you are certain to appreciate the numerous features and benefits that our theme provides.
Version: 1.0
Tags: white, right-sidebar, left-sidebar, custom-colors, custom-menu, featured-images, post-formats, theme-options, translation-ready
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: houzez
Template: houzez
*/


@import url("../houzez/style.css");

/* Your CSS code goes here
-------------------------------------- */

.header-mobile .header-logo img{
	max-height: 45px;
}

.logo.logo-desktop a img {
    max-height: 60px;
}
.lightbox-header .header-title img {
    height: 45px;
    width: auto;
    margin-right: 30px;
}
.vegas-wrapper {
    background: #86754d;
    opacity: 0.0;
}

.header-section-4.nav-right .header-right{
	width: auto;
}

.advanced-search.advance-search-header.houzez-adv-price-range {
    display: none;
}
.profile-menu-tabs a{
	padding: 13px 0;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #6d5c06;
}

.mascarita {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+9&0.01+0,1+9,1+100 */
    background: -moz-linear-gradient(left,  rgba(30,87,153,0.01) 0%, rgba(255,255,255,1) 9%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(30,87,153,0.01) 0%,rgba(255,255,255,1) 9%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(30,87,153,0.01) 0%,rgba(255,255,255,1) 9%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    cursor: pointer;
}
.info-agente{position:relative;}

.mascarita span {
    padding: 21px 0 0 70px;
    display: block;
    font-weight: 500;
}

.mascarita:hover span {
    text-decoration: underline;
}

ul.dropdown-menu.inner {
    max-height: 200px !important;
}


.account-dropdown > ul > li.active > a {
    background-color: #9c8859;
}

.account-dropdown > ul > li > a:hover, .header-section-4 .header-right a:hover{
    color: #9c8859;
}

.banner-caption h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.64);
}

.header-section-4.nav-right .header-left{
    padding-right: 240px;
}
.logged-in .header-section-4.nav-right .header-left{
        padding-right: 120px;
}

.header-section-4 .header-right .user a.btn {
        color: #fff;
    background: #86754d;
}
.header-section-4 .header-right .user .btn{
    background: #86754d !important;
}

.pay-step-block.active span{
    border-color: #9c8859;
}

.widget .media.agent-media .media-left a{
    display: none;
}